<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length<=0) { %>
            <h1>Nothing there!</h1>
            <% }else{ %>
                <% orders.forEach(order =>{ %>
                    <ul class="cart__item-list">
                        <h1># Order Id: <%= order.id %></h1>
                        <% order.products.forEach(product =>{ %>
                            <li class="cart__item">
                                <h3><%= product.title %> </h3>
                                <h3>Qty: <%= product.orderItem.quantity %> </h3>
                            </li>
                        <%  }) %>
                    </ul>
                <%  }) %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>